/*
Colors used

Text color (Dark Gray): #2b2b2b;
Primary color (Purple): #357b70;
Secondary color (Orange): #e0b354;
*/

/*----------------------------------Universal----------------------------------*/
:root {
    --primary-color: #357B70;
    --scondary-color: #E0B354;
    --text-color: #2b2b2b;
}

* {
    box-sizing: border-box;
}


/*----------------------------------Body----------------------------------*/
html,
body {
    background-color: #c7bde4;
	font: {
	    family: 'Crimson Text', serif;
    	weight: 400;
    	size: 20px;	
	}
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*----------------------------------Header----------------------------------*/
.page-header {
    display: flex;
    background-color: #CFE2F3;
    max-width: 100%;
    margin: auto;
    border-bottom: 1px solid rgb(125, 125, 125, 0.3);
    position: top;
    &__item {
        flex: 0 1 125px;
        min-width: 0;
        &:last-child {
            flex-grow: 1;
            text-align: right;
            padding-right: 10px;
        }
    }
}

.navigation-list {
    list-style-type: none;
	&li {
		display: inline-block;
    	margin-left: 15px;
    	padding: 10px;
	.navigation-list__item--active {
		text-decoration: none;
    	font-weight: bold;
		}
	}
}

.website-logo {
    height: fit-content;
    border-right: 1px solid rgb(125, 125, 125, 0.3);
}


/*----------------------------------Headings----------------------------------*/
h1 {
	font: {
	    size: 30px;
    	weight: 700;	
	}
}

h2 {
	font: {
	    size: 24px;
    	weight: 700;	
	}
}

h3 {
	font: {
	    size: 18px;
		weight: 700;	
	}
}


/*----------------------------------Footer----------------------------------*/
.page-footer {
    clear: both;
    display: flex;
	flex: {
		direction: column;
		basis: 100px;
	}
    border-top: 1px solid rgba(125, 125, 125, 0.3);
    background-color: #CFE2F3;
	text-align: center;
	font: {
		size: large;
		weight: 700;
	}
    width: 100%;
    margin-top: auto;
    padding: 10px;
}


/*----------------------------------Content Container----------------------------------*/
.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*----------------------------------Home----------------------------------*/
.profile {
	&-main {
		max-width: 700px;
		margin: 0 auto;
		padding: {
			top: 100px;
			bottom: 100;
			left: 20px;
			right: 20px;
		}
		flex: 1;
	}
	&-portrait {
		float: left;
		width: 250px;
		height: auto;
		max-width: 700px;
		max-height: 700px;
		margin-right: 40px;
		border: {
			radius: 50%;
			color: #2b2b2b;
			style: solid;
		}
	}
	&-span {
		background-color: #000000;
		color: #00df00;
		font-weight: bold;	
		padding: {
			left: 2px;
			right: 4px;	
		}
	}
}


/*----------------------------------About Me----------------------------------*/
.about {
	&-main {
		text-align: center;
		flex: 1;
	}
	&-table {
	    display: inline-block;	
	}
}

@keyframes color-change {
    0% {
        fill: #EDC655;
    }
    50%{
        fill: #FCFFAD;
    }
    100% {
        fill: #F76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


/*----------------------------------My Work----------------------------------*/
.work-main {
    text-align: center;
}

/*grid fallback*/
.my-work-grid__item {
    display: inline-block;
    width: 33%;
}
/*grid fallback*/

@supports (display: grid) {
    .my-work-grid {
        display: grid;
		grid: {
			template-columns: 1fr 1fr 1fr;
			gap: 20px;
		}
        margin: 0;
        padding: 20px;
        text-align: center;
		&__item {
			background-color: #CFE2F3;
			width: auto;
			min-height: auto;
			margin: 0;
			padding: 10px;
			&:last-child {
				grid {
					column: 3 / 3;
					row: 1 / 3;
				}
			}
		}
    }
}

.my-work-grid__item {
    background-color: #CFE2F3;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
}

.my-work-grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}


/*----------------------------------Contact Me----------------------------------*/
.contact-main {
    text-align: center;
    flex: 1;
}


/*----------------------------------Links----------------------------------*/
a {
    color: var(--primary-color);
    &:hover, &:focus {
        text-decoration: none;
        cursor: pointer;
    }
    &:visited {
        color: #05676e;
    }
    &:active {
        color: #489c79;
    }
}


/*----------------------------------Buttons----------------------------------*/
button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: {
        radius: 3px;
        bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    transition: opacity .2s;
    &:hover, &:focus {
        cursor: pointer;
        opacity: 0.8;
    }
}

.button {
    @extend button;
    &__secondary {
        background-color: #e0b354;
        color: #2b2b2b;
    }
}


/*----------------------------------User Input----------------------------------*/
input[type=submit] {
    border: none;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: {
        radius: 3px;
        bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    transition: opacity .2s;
    &:hover, &:focus {
        cursor: pointer;
        opacity: 0.8;
    }
}


/*----------------------------------Media Queries----------------------------------*/
@media all and (max-width: 500px) {
    .my-work-grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .my-work-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .my-work-grid {
        grid-gap: 10px;
    }
    .my-work-grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
